
.u-text-1 {
    animation-name: customAnimationIn;
    animation-duration: 3s; 
    animation-timing-function: ease;
    animation-fill-mode: forwards; 
}

@keyframes customAnimationIn {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0); 
    }
}

@font-face
{
  font-family: 'Ermilov';
  src: url('../fonts/Ermilov.otf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;

}

*
{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Ermilov', sans-serif;
  font-weight: 700;
}

section
{
width: 100%;
height: 200vh;
display: flex;
align-items: top;
justify-content: right;
}

section ul li
{
  /* margin: 5px 0px; */
  padding: 15px 20px ;
}

section ul li a
{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  width: 250px;
  height: 70px;
  color: rgb(255, 255, 255);
  font-size: 24px;
  text-align: center;
  border: 5px solid rgb(255, 255, 255);
  border-radius: 15px;
  overflow: hidden;
  transition: 0.5s;
}

ul li a span
{
  background:  rgb(138, 45, 67);
  width: 25%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 50%;
  transition: 0.5s;
  transform: translateY(100%);
}

ul li a span:nth-child( 2 )
{
  left: 25%;
  transition-delay: 0.1s;
}

ul li a span:nth-child( 3 )
{
  left: 50%;
  transition-delay: 0.2s;
}

ul li a span:nth-child( 4 )
{
  left: 75%;
  transition-delay: 0.3s;
}

ul li a:hover
{
  color: rgb(0, 0, 0);
}

ul li a:hover span
{
  transform: translateY( 0 ) scale( 2 );
}

footer
{
  position: relative;
  padding: 20px 50px;
  width: 100%;
  min-height: 100px;
  background: #6e7683;
  display: flex;
  justify-content: content;
  align-items: center;
  flex-direction: column;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

header

{

background: #6e7683;

align-items: center;
}


.btn-register,
.btn-login {
  margin-left: auto;
  margin-right: 10px;
}

.btn-register {
  background-color: #E74C3C;
  border-color: #E74C3C;
  color: white;
}

.btn-login {
  background-color: #3498DB;
  border-color: #3498DB;
  color: white;
}

.btn-register:hover,
.btn-login:hover {
  background-color: #C0392B;
  border-color: #C0392B;
}

#sec-0876 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../images/Background.jpg');
  background-size: cover;
  background-position: center center;
  padding-top: 50px;
  padding-left: 100px;
  color: rgb(255, 255, 255);
  text-align: left;
}

.u-section-1 .u-sheet-1 {
   min-height: 1360px;
}

.u-section-1 .u-text-1 {
   font-weight: 700;
   --animation-custom_in-translate_x: -200px;
   --animation-custom_in-translate_y: 0px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 1;
   margin: 148px 585px 0 0;
}

.u-section-1 .u-text-2 {
   font-size: 1.25rem;
   margin: 21px 570px 60px 0;
}

@media (max-width: 1199px) {
   .u-section-1 .u-sheet-1 {
       min-height: 571px;
   }

   .u-section-1 .u-text-1 {
       margin-right: 385px;
   }

   .u-section-1 .u-text-2 {
       margin-right: 370px;
   }
}

@media (max-width: 991px) {
   .u-section-1 .u-text-1 {
       margin-right: 165px;
   }

   .u-section-1 .u-text-2 {
       margin-right: 150px;
   }
}

@media (max-width: 767px) {
   .u-section-1 .u-sheet-1 {
       min-height: 492px;
   }

   .u-section-1 .u-text-1 {
       margin-right: 0;
   }

   .u-section-1 .u-text-2 {
       font-size: 1rem;
       margin-right: 0;
   }
}

@media (max-width: 575px) {
   .u-section-1 .u-sheet-1 {
       min-height: 387px;
   }
}

.u-section-2 .u-sheet-1 {
   min-height: 247px;
}

.u-section-2 .u-layout-wrap-1 {
   margin-top: 58px;
   margin-bottom: 60px;
}

 
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

header

{

background: #6e7683;

align-items: center;
}


.btn-register,
.btn-login {
  margin-left: auto;
  margin-right: 10px;
}

.btn-register {
  background-color: #E74C3C;
  border-color: #E74C3C;
  color: white;
}

.btn-login {
  background-color: #3498DB;
  border-color: #3498DB;
  color: white;
}

.btn-register:hover,
.btn-login:hover {
  background-color: #C0392B;
  border-color: #C0392B;
}

#sec-0876 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../images/Background.jpg');
  background-size: cover;
  background-position: center center;
  padding-top: 50px;
  padding-left: 100px;
  color: rgb(255, 255, 255);
  text-align: left;
}

.u-section-1 .u-sheet-1 {
   min-height: 1360px;
}

.u-section-1 .u-text-1 {
   font-weight: 700;
   --animation-custom_in-translate_x: -200px;
   --animation-custom_in-translate_y: 0px;
   --animation-custom_in-opacity: 0;
   --animation-custom_in-rotate: 0deg;
   --animation-custom_in-scale: 1;
   margin: 148px 585px 0 0;
}

.u-section-1 .u-text-2 {
   font-size: 1.25rem;
   margin: 21px 570px 60px 0;
}

@media (max-width: 1199px) {
   .u-section-1 .u-sheet-1 {
       min-height: 571px;
   }

   .u-section-1 .u-text-1 {
       margin-right: 385px;
   }

   .u-section-1 .u-text-2 {
       margin-right: 370px;
   }
}

@media (max-width: 991px) {
   .u-section-1 .u-text-1 {
       margin-right: 165px;
   }

   .u-section-1 .u-text-2 {
       margin-right: 150px;
   }
}

@media (max-width: 767px) {
   .u-section-1 .u-sheet-1 {
       min-height: 492px;
   }

   .u-section-1 .u-text-1 {
       margin-right: 0;
   }

   .u-section-1 .u-text-2 {
       font-size: 1rem;
       margin-right: 0;
   }
}

@media (max-width: 575px) {
   .u-section-1 .u-sheet-1 {
       min-height: 387px;
   }
}

.u-section-2 .u-sheet-1 {
   min-height: 247px;
}

.u-section-2 .u-layout-wrap-1 {
   margin-top: 58px;
   margin-bottom: 60px;
}
