{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=0">
    <title>About Us</title>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/about_us.css' %}" media="screen">
</head>
<body>
    <header>
        <h1>FiveContinents Coders</h1> 
    </header>
    <div class="img"></div>
        <main>
            <section>
                <div class="cart">
                    <div class="cart-center">
                        <div class="cart-img">
                            <img src="{% static 'images/Alyona Boholiepova.jpg' %}">
                        </div>
                        <div class="cart-text">
                            <h1>Alyona Boholiepova</h1>
                            <p>
                             Teamlead    
                            </p>
                        </div>
                    
                    </div>
                </div>
                <div class="cart">
                    <div class="cart-center">
                        <div class="cart-img">
                            <img src="{% static 'images/Igor Rys_2.jpg' %}">
                        </div>
                        <div class="cart-text">
                            <h1>Igor Rys.jpg</h1>
                            <p>
                             Scrum Master    
                            </p>
                        </div>
                    </div>
                </div>
                <div class="cart">
                    <div class="cart-center">
                        <div class="cart-img">
                            <img src="{% static 'images/Артем Набока.jpg' %}">
                        </div>
                        <div class="cart-text">
                            <h1>Артем Набока</h1>
                            <p>
                             Developer    
                            </p>
                        </div>
                    
                    </div>
                </div>
                <div class="cart">
                    <div class="cart-center">
                        <div class="cart-img">
                            <img src="{% static 'images/images.jpg' %}">
                        </div>
                        <div class="cart-text">
                            <h1>Olena Maliarenko</h1>
                            <p>
                             Developer    
                            </p>
                        </div>
                    
                    </div>
                </div>
                <div class="cart">
                    <div class="cart-center">
                        <div class="cart-img">
                            <img src="{% static 'images/Zhukov Olexander.jpg' %}">
                        </div>
                        <div class="cart-text">
                            <h1>Zhukov Olexander</h1>
                            <p>
                             Developer    
                            </p>
                        </div>
                    
                    </div>
                </div>
            </section>


        </main>
    
</body>
</html>