{% extends "base.html" %}

{% block content %}
<style>
  .table-container {
      position: relative;
      top: 0px;
      left: 50px;
      max-width: 100%;
      background-color: rgba(255, 255, 255, 0.3);
      backdrop-filter: blur(3px);
      border-radius: 10px;
      padding: 15px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  .table {
      width: 100%;
      border-collapse: collapse;
  }

</style>
<div class="table-container">
  <h2>Edit Profile</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary w-100">Save changes</button>
    </form>
</div>
{% endblock %}