{% extends 'base.html' %}

{% block content %}
    <h2>Upload image and car exit by number</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            {{ exit_form.as_p }}
            <button type="submit">Complete parking</button>
        </form>
        <!-- Блок для отображения сообщений -->
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

{% endblock %}