{% extends "base.html" %}

{% block content %}
<h2>Parking Rates</h2>
<table class="table">
    <thead>
        <tr>
            <th>Vehicle Type</th>
            <th>Rate per Rental</th>
            <th>Rate per Hour</th>
            <th>Rate per Disabled</th>
        </tr>
    </thead>
    <tbody>
        {% for rate in rates %}
        <tr>
            <td>{{ rate.get_vehicle_type_display }}</td>
            <td>{{ rate.rental_rate }} USD</td>
            <td>{{ rate.rate_per_hour }} USD</td>
            <td>{{ rate.disabled_rate }} USD</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="2">No rates available</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}




