{% extends "base.html" %}

{% block content %}
<style>
    .table-container {
        position: relative;
        top: 500px;
        left: -800px;
        max-width: 100%;
        background-color: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(3px);
        border-radius: 10px;
        padding: 15px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
    .table {
        width: 100%;
        border-collapse: collapse;
    }
    .table th, .table td {
        border: 1px solid rgba(221, 221, 221, 0.5);
        padding: 8px;
        text-align: left;
        background-color: rgba(255, 255, 255, 0.5);
    }
    .table th {
        background-color: rgba(200, 200, 200, 0.4);
    }

</style>

<div class="table-container">
    <h2>Parking Rates</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Vehicle Type</th>
                <th>Rate per Rental</th>
                <th>Rate per Hour</th>
                <th>Rate for Disabled</th>
            </tr>
        </thead>
        <tbody>
            {% for rate in rates %}
            <tr>
                <td>{{ rate.get_vehicle_type_display }}</td>
                <td>{{ rate.rental_rate }} USD</td>
                <td>{{ rate.rate_per_hour }} USD</td>
                <td>{{ rate.disabled_rate }} USD</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No rates available</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}







