{% extends 'base.html' %}

{% block content %}
    <h2>Upload an image and find a car by number</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label for="image" class="form-label">Choose Image</label>
            <input class="form-control" type="file" name="image" id="image" required>
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>

    {% if license_plate %}
        <div class="alert alert-success mt-3" role="alert">
            Recognized license plate: {{ license_plate }}
        </div>
    {% endif %}

    {% if annotated_image_base64 %}
        <h3>Annotated image:</h3>
        <img src="data:image/jpeg;base64,{{ annotated_image_base64 }}" alt="Annotated image" class="img-fluid mt-3">
    {% endif %}
{% endblock %}