{% extends "base.html" %}

{% block content %}
<h2>Your registered Vehicles</h2>
{% if vehicles.exists %}
    <table class="table">
        <thead>
            <tr>
                <th>License Plate</th>
                <th>Owner</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for vehicle in vehicles %}
            <tr >
                <td class="{% if vehicle.is_blocked %}text-danger{% else %}text-success{% endif %}">{{ vehicle.license_plate }}</td>
                <td class="{% if vehicle.is_blocked %}text-danger{% else %}text-success{% endif %}">{{ vehicle.owner.username}}</td>
                <td class="{% if vehicle.is_blocked %}text-danger{% else %}text-success{% endif %}">
                    {% if vehicle.is_blocked %}
                        <i class="bi bi-lock-fill"></i> <!-- Иконка закрытого замка для заблокированных -->
                    {% else %}
                        <i class="bi bi-unlock-fill"></i> <!-- Иконка открытого замка для активных -->
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>You have no vehicles registered.</p>
{% endif %}
{% endblock %}
