{% extends "base.html" %}

{% block content %}
<h2>Your registered Vehicles</h2>
{% if vehicles.exists %}
    <table class="table">
        <thead>
            <tr>
                <th>License Plate</th>
                <th>Owner</th>
            </tr>
        </thead>
        <tbody>
            {% for vehicle in vehicles %}
            <tr>
                <td>{{ vehicle.license_plate }}</td>
                <td>{{ vehicle.owner.username }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>You have no vehicles registered.</p>
{% endif %}
{% endblock %}
